---
layout: layouts/base.njk
title: Bill Thornton | All Tags
---

{% include 'partials/header.njk' %}

<main class="secondary">
	<h1>Tags</h1>

	<ul>
	{%- for tag in collections.tagList | filterTagList -%}
		{%- set tagUrl -%}/tags/{{ tag | slug }}/{%- endset -%}
		<li>
			<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
		</li>
	{%- endfor -%}
	</ul>
</main>

{% include 'partials/footer.njk' %}
