---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Bill Thornton | “{{ tag }}” Tag
permalink: /tags/{{ tag | slug }}/
---

{% include 'partials/header.njk' %}

<main class="secondary">
	<h1>Tagged “{{ tag }}”</h1>

	<ul>
	{%- for post in collections[ tag ] | reverse -%}
		<li>
			<a href="{{post.url}}">{{ post.data.title }}</a>
			[{{ post.date | dateYYYYMMDD }}]
		</li>
	{%- endfor -%}
	</ul>

	<p class="text-right"><a href="{{ '/tags/' | url }}">View all tags &gt;&gt;</a></p>
</main>

{% include 'partials/footer.njk' %}
