*, *::before, *::after {
	box-sizing: border-box;
}
html {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	line-height: 1.6;
	color: #d6dae4;
	background-color:#131313;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	margin: 0;
}
main {
	padding: 0 1em;
}
h1 {
	text-align: center;
	margin-left: 2ch;
	text-indent: -2ch;
	line-height: 1.25;
}
h1::before {
	content: '# ';
	display: inline;
}
h2 {
	margin-left: 3ch;
	text-indent: -3ch;
}
h2::before {
	content: '## ';
	display: inline;
}
h3::before {
	content: '### ';
	display: inline;
}
h3 {
	margin-left: 4ch;
	text-indent: -4ch;
	color: #ecb90f;
}
ul > li {
	list-style: square;
	list-style: "* " outside;
}
a {
	color: #1dd260;
	text-decoration: none;
}
a:focus {
	outline: none;
}
a:active, a:focus, a:hover {
	color: #2dc55e;
	text-decoration: underline;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.home {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.secondary {
	flex-grow: 1;
	max-width: 80rem;
	margin: 0 auto;
}
