.site-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 80rem;
	margin: 1em auto;
	padding: 0 1em;
}

.site-header .title {
	flex-grow: 1;
	align-self: center;
	font-size: 1.5rem;
}

.site-header .extra-links {
	padding-top: 0.5em;
	align-self: center;
}

@media only screen and (min-width: 60em) {
	.site-header {
		flex-direction: row;
	}

	.site-header .extra-links {
		padding-top: 0;
	}
}
