.post .meta {
	border: 1px solid #333;
	padding: 0.25em 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.post .meta > * {
	flex-grow: 1;
}

@media only screen and (min-width: 60em) {
	.post .meta {
		flex-direction: row;
	}

	.post .meta .date {
		text-align: right;
	}
}
