---
title: Bill Thornton | Developer
---
{% set css %}
	{% include "styles/common.css" %}
	{% include "styles/header.css" %}
	{% include "styles/footer.css" %}
	{% if cssFile %}
		{% include cssFile %}
	{% endif %}
{% endset %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | url }}" title="thornbill.dev">
		<title>{{ title }}</title>
		<style>
			{{ css | safe }}
		</style>
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>
