---
layout: layouts/base.njk
cssFile: styles/post.css
title: Bill Thornton | Developer Blog
---

{% include 'partials/header.njk' %}

<main class="secondary post">
	<h1>{{ title }}</h1>

	<section class="meta">
		<nav class="tags">
			{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
				<a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>
			{% endfor %}
		</nav>
		<div class="date">
			<time datetime="{{ page.date | dateYYYYMMDD }}">
				[{{ page.date | dateYYYYMMDD }}]
			</time>
		</div>
	</section>

	{{ content | safe }}

	<footer>
		<p>&mdash;&nbsp;<a href="/">@thornbill</a></p>
	</footer>
</main>

{% include 'partials/footer.njk' %}
