---
layout: layouts/base.njk
title: Bill Thornton | Posts
---

{% include 'partials/header.njk' %}

<main class="secondary">
	<h1>Posts</h1>

	<ul>
	{%- for post in collections.posts | reverse -%}
		<li>
			<a href="{{post.url}}">{{ post.data.title }}</a>
			[{{ post.date | dateYYYYMMDD }}]
		</li>
	{%- endfor -%}
		{# TODO: Fix these manual links #}
		<li><a href="https://www.exclamationlabs.com/blog/continuous-deployment-to-npm-using-gitlab-ci/">Continuous Deployment to npm using Gitlab CI</a> [2017-01-19]</li>
		<li><a href="https://www.resilio.com/blog/sync-hacks-deploy-bittorrent-sync-with-docker">Deploy Resilio Sync (BitTorrent Sync) with Docker</a> [2013-10-22]</li>
	</ul>
</main>

{% include 'partials/footer.njk' %}
