---
layout: layouts/base.njk
---

{% include 'partials/header.njk' %}

<main class="home">
<div>
	<h1>Bill Thornton</h1>

	<h2 class="text-center">Developer &amp; Linux Enthusiast</h2>

	<h3>Latest Posts</h3>
	<ul>
	{%- for post in collections.posts | reverse | first(5) -%}
		<li>
			<a href="{{post.url}}">{{ post.data.title }}</a>
			[{{ post.date | dateYYYYMMDD }}]
		</li>
	{%- endfor -%}
	</ul>

	<p class="text-right"><a href="/posts">View all posts &gt;&gt;</a></p>

	<h3>Projects</h3>
	<ul>
		<li>GitLab: <a href="https://gitlab.com/thornbill">@thornbill</a></li>
		<li>GitHub: <a href="https://github.com/thornbill/">@thornbill</a></li>
	</ul>

	<h3>Contact Me</h3>
	<ul>
		<li>Mastodon: <a rel="me" href="https://fosstodon.org/@thornbill">@thornbill@fosstodon.org</a></li>
		<li>Twitter: <a href="https://twitter.com/thornbilldev">@thornbilldev</a></li>
		<li>Email: <a href="mailto:bill@thornbill.dev">bill@thornbill.dev</a></li>
	</ul>
</div>
</main>

{% include 'partials/footer.njk' %}
