<header class="site-header">
	<section class="title">
		<a href="/">thornbill.dev</a>
	</section>
	<nav class="extra-links">
		<a href="https://github.com/sponsors/thornbill">Sponsor</a> |
		<a href="/feed.xml">RSS</a>
	</nav>
</header>
